* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8F0E9;
  }

header {
    border: 5px solid rgb(0, 255, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    position: sticky;
    top:0;
}

nav {
    border: 5px solid yellow;
    display: flex;
    align-items: center;
}

nav *{
    margin: 2rem;
}

#long_logo {
    border: 5px solid red;
    height: 180px;
    margin : 2rem 4rem 2rem 0rem;
    position: relative;

}

#searchbar {
    border: 5px solid blue;
    font-size: 50px;
    width: 300px;
}

#filter_select{
    text-align: center;
    color: #EB6A8E;
}

#category_list {
    border: 5px solid pink;
    position: absolute;
    margin: 0;
    top: 250px;
    left: 0px;
    width: 250px;
}

#category_list li {
    margin: 1rem;
}

main {
    border: 5px solid cyan;
    display: flex;
}

.product_card {
    border: 5px solid orangered;
    margin: 1rem;
}

.product_card img {
    border: 5px solid aquamarine;
    height: 100px;
}