* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

header {
    border: 5px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    position: sticky;
    top:0;
}

nav {
    border: 5px solid yellow;
    display: flex;
}

nav *{
    margin: 2rem;
}

#long_logo {
    border: 5px solid red;
    height: 150px;
    margin: 1rem;
    position: relative;

}

#searchbar {
    border: 5px solid blue;
    font-size: 50px;
    width: 300px;
}

#category_list {
    border: 5px solid pink;
    position: absolute;
    top: 250px;
    left: 0px;
    width: 300px;
   
}

.product_card {
    border: 5px solid orangered;
}

.product_card img {
    border: 5px solid aquamarine;
    height: 100px;
}